@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to bottom, #00f7ff 0%, #e0e0e0 65%);
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw, 1vw) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 200px;
  color: #f5c144;
  text-shadow: 7px -1px 20px rgba(0, 0, 0, 1);
  margin-top: -40px;
  animation-name: fade-in-title;
  animation-duration: 5s;
}

.UnderTitle {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 40px;
  color: #f5c144;
  text-shadow: 7px -1px 10px rgba(0, 0, 0, 1);
  margin-top: -150px;
  animation-name: fade-in-undertitle;
  animation-duration: 5s;
}

.Android-download-badge {
  height: 150px;
  animation-name: fade-in-badge;
  animation-duration: 5s;
}

.Apple-download-badge {
  height: 153px;
  animation-name: fade-in-badge;
  animation-duration: 5s;
}

@media only screen and (min-width: 961px) {
  .BeerGif {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .App-header {
    height: calc(var(--vh, 1vh) * 100);
    background: linear-gradient(to bottom, #00f7ff 0%, #e0e0e0 60%);
  }
  .Title {
    font-size: 150px;
    margin-top: -390px;
  }
  .UnderTitle {
    font-size: 30px;
  }
  .Apple-download-badge {
    font-size: 168px;
  }
  .BeerGif {
    width: 100%;
    height: 38%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .App-header {
    height: calc(var(--vh, 1vh) * 100);
  }
  .Title {
    font-size: 80px;
    margin-top: -270px;
  }
  .UnderTitle {
    font-size: 15px;
    margin-top: -60px;
  }
  .downloads {
    margin-top: 30px;
  }
  .Apple-download-badge {
    height: 100px;
  }
  .Android-download-badge {
    height: 100px;
  }
  .BeerGif {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 320px) {
  .Title {
    font-size: 60px;
    margin-top: -152px;
  }
  .UnderTitle {
    font-size: 10px;
    margin-top: -50px;
  }
  .downloads {
    margin-top: 30px;
  }
  .Apple-download-badge {
    height: 70px;
  }
  .Android-download-badge {
    height: 70px;
  }
  .BeerGif {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@keyframes fade-in-title {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-undertitle {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-badge {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
